<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.business.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.core.model.business.UserInfo">
        <id column="id" property="id"/>
        <result column="password" property="password"/>
        <result column="username" property="username"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="UserListMap" type="com.example.core.vo.resp.UserResp">
        <id column="id" property="id"/>
        <result column="password" property="password"/>
        <result column="username" property="username"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="content" property="content"
                typeHandler="com.example.core.handler.JsonTypeHandler"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, password, username, status, create_time, update_time,content
    </sql>

    <select id="getUserList" parameterType="com.example.core.vo.req.UserReq"
            resultMap="UserListMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        <where>
            <if test="userReq!=null and userReq.status!=null">
                and status=#{userReq.status}
            </if>
            <if test="userReq!=null and userReq.createTime!=null">
                and create_time=#{userReq.createTime}
            </if>
        </where>
    </select>

    <select id="insertBatch">
        insert into user_info(password,username,status,create_time,update_time)
        values
        <foreach collection="users" index="index" item="item" separator=",">
            (
            #{item.password},#{item.username},#{item.status},#{item.createTime},#{item.updateTime}
            )
        </foreach>
    </select>

    <resultMap id="hashmaps" type="java.util.HashMap">
        <id column="id" property="id"/>
        <result column="password" property="password"/>
        <result column="username" property="username"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectMap" resultMap="hashmaps">
      select * from user_info
    </select>
</mapper>
